<%- include('partials/head.ejs') %>

<div class="mt-4 flex flex-wrap">
  <% guideMenu.forEach((guide, i) => { %>
    <a 
      href="<%= `${path.root}guide/${guide.link}` %>"
      class="<%= i > 0 ? 'ml-2' : '' %> btn text-gray-900 border-x1 p-2<%= path.getDepth(2) === guide.link ? ' active' : '' %>"
    ><%= guide.label %></a>
  <% }) %>
</div>

<div class="mt-8">
  <%- page.content %>
</div>

<%- include('partials/foot') %>